
body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;

}

header {color:#fff; background-color: #7549B1; font-size: 14px; padding:8px 0px}
.bg-light {
    background-color: #ffffff!important;
}

h1 {color: #7549B1; font-weight:400;}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.81);

}



.investments .card {
    border: 1px solid #546B30;
    border-bottom: 10px solid #546B30;
    border-radius: 0px;
}
.investments .card .card-title { font-style: italic; color: #546B30; font-size: 20px }

.investments,.real_estate, .building, .card img {width:70%}
.investments a {color: #546B30;}

.real_estate .card {
    border: 1px solid #4C2A46;
    border-bottom: 10px solid #4C2A46;
    border-radius: 0px;
}

.real_estate .card .card-title { font-style: italic; color: #4C2A46;font-size: 20px }
.real_estate a {color: #4C2A46;}

.building .card {
    border: 1px solid #BC287B;
    border-bottom: 10px solid #BC287B;
    border-radius: 0px;
}

.building .card .card-title { font-style: italic; color: #BC287B;font-size: 20px }

.building a {color: #BC287B;}

.investments,.real_estate, .building, .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: .5rem;
}

.register { background: url(../images/backround.jpg) no-repeat; background-size: cover; padding:85px 0px; color: #fff}

.register h2 { font-style: italic; font-weight:400} 


.carousel-item {
 
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}
.header-hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color:#7549B1;
    border-image: none;
    border-style: solid none none;
    border-width: 2px medium medium;
    margin-bottom: 20px;
    width: 160px;
}


.about { background: url(../images/about-bg.jpg) no-repeat; background-size: cover; padding:85px 0px; color: #fff;position: relative; background-position:50% -380px;}

.about, .subsidiaries  h1 {font-size:85px;text-shadow: 1px 4px 0px white; }
.overlay {
    position: absolute;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    background-repeat: repeat;
    opacity: .65;
}

.subsidiaries {background: url(../images/subsidiaries.jpg) no-repeat; background-size: cover;  color: #fff; position: relative; padding:85px 0px;}
.visionand {background-color: #7549B1; color: #fff; padding: 85px 0px }

.vision {
    background: #00000094;
    padding: 25px;
    min-height: 200px;
    border: 1px dotted #fff;
     
}

.overlay1 { color: #fff;
  padding:85px 0px;
    background: rgba(0,0,0,.5);
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.border {border: 1px dotted #6a6a6a; padding: 10px}
.simsis {
    background-color: #cccccc6e;
    padding: 20px;
    min-height: 272px;
}
.footer {background-color: #E74996; padding: 45px; color: #fff}
@media (min-width: 992px) {
  
}

@media (min-width: 1200px){
.container {
    max-width: 1224px;
}
}